#recipe-build-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9,1fr);
    height: 92%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    column-gap: 60px;
}

.build-ingredient{
    grid-column-start:1 ;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
    position: relative;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black ;
}
.build-ingredient input{
    margin-top: 5px;
    height: 40px;
    width: 320px;
    font-size: 35px;
    text-align: center;
}
.build-form-wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding-bottom: 2%;
margin-left: 40px;
}
.build-tag{
 grid-column-start: 4;
}
.build-notes{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    border-right: 1px solid black;
    border-left: 1px solid black ;
    border-bottom: 1px solid black;
    padding: 5px;
    width: fit-content;
}
.build-notes span{
    width: fit-content;
    margin-right: 10px;
}
.build-instructions{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
    overflow-y: scroll;
}
.build-button{
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
}
.build-main{
    height: 90vh;
    text-align: center;
}
.build-ingredient-searchbar{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:3 ;
}
.build-ingredient-searchbar form{
    height: 100%;
}
.build-ingredient-searchbar input{
    height: 60%;
    width: 90%;
    font-size: 40px;
}
.main-input input{
    height: 40px;
    width: 360px;
    font-size: 40px;
    border: none;
    text-align: center;
    color:  rgb(218, 52, 91);
}
.build-search-display-wrapper{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    height: 80%;
}
#recipe-build-search{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.ingredient-choice{
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(161, 225, 161);
    position: relative;
}
.added-ingredient{
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 52, 91);
    position: relative;
}
.delete-ingredient{
    position: absolute;
    top: 0;
    right: 0px;
    height: 15px;
    width: 15px;
    color: red;
    padding: 2px;
}

.ingredient-quantity-container input{
    width: 40%;
    margin-top: 10px;
}
.delete-ingredient:hover{
    background-color: rgb(242, 133, 133);
}
.ingredient-choice:hover{
    background-color: rgba(161, 225, 161, 0.262);
    cursor: pointer;
}
.submit{
    margin-left: 8px;
    height: 100%;
    width: 100%;
    background-color: rgb(218, 52, 91);
    font-size: 1.5rem;
    font-style: italic;
    cursor: pointer;
}
#build-recipe-form{
    grid-column-start: 1;
    display: flex;
    align-items: end;
}
.main-input{
    display: flex;
    justify-content: end;
}
#cookbook{
    margin-left: 15px;
    height: 40px;
}
#build-recipe-form input{
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgb(9, 167, 247);
    background-color: rgb(234, 233, 233);
}
.build-ingredients-display-wrapper{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(35px, 150px);
    gap: 10px;
}
#build-instructions-container{
display: flex;
justify-content: left;
flex-direction: column;
}
.instruction-line{
    display: flex;
    align-items: center;
}

.instruction-input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 31px, #ccc 31px, #ccc 32px, white 32px);
    line-height: 31px;
    padding: 8px 10px;
    resize: vertical;
}
.new-instruction{
    margin-top: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}