.cookbook-display-wrapper{
    height: 85vh;
    display: flex;
    justify-content: center;
}
.profile-user-banner h1{
    margin-block-end: 2px;
    margin-block-start: 0;
}
.cookbook-display-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
    width: 90%;
    margin-top: 20px;
}

.cookbook-display-header{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.cookbook-display-recipe-sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10%;
    gap: 5px;
    border: 1px solid #efefef;
}
.cookbook-display-recipe-sidebar div{
    background-color: #efefef;
    border-radius: 5px;
}
.recipe-sidebar-recipe-select{
    margin: 2px 5px 0px 5px;
    overflow-x: hidden;
}
.recipe-sidebar-recipe-select:hover{
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}
.cookbook-display-recipe-sidebar span{
   position: absolute;
   right: 2%;
}

#cookbook-display-recipe-main{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 10;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
}
#cookbook-display-recipe-main > div{
margin-left: 5px;
margin-right: 5px;
}
.cookbook-display-rating{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end:8
}
.cookbook-display-comment{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end:10;
}

.take-cookbook{
    position: absolute;
    right: 10%;
    width: min-content;
    background-color: rgb(107, 116, 220) ;
    border: none;
    border-radius: 5px;
    color: white;
}
.take-cookbook:hover{
    color: rgb(107, 116, 220);
    background-color: #efefef;
    cursor: pointer;
}
.take-recipe{
    position: absolute;
    top: 45%;
    right: 1%;
    width: min-content;
    background-color: rgb(218, 52, 91) ;
    border: none;
    border-radius: 5px;
    color: white;
}
.take-recipe:hover{
    background-color: white;
    color: rgb(218, 52, 91);
    cursor: pointer;
}

#edit-cookbook-wrapper button{
    min-width: fit-content;
    width: 10%;
    position: absolute;
    right: 5%;
    height: 50px;
    background-color:rgb(107, 116, 220) ;
    color: white;
    border: none;
    border-radius: 5px;
}
#edit-cookbook-wrapper button:hover{
    background-color: #efefef;
    color: rgb(107, 116, 220);
    cursor: pointer;
}
.cookbook-recipe-item{
    position: relative;
    text-align: left;
    margin: 15px;
    font-size: 30px;
    background-color: #efefef;
    padding-right: 50px;
}
#recipe-items-wrapper{
    display: flex;
    justify-content: center;
    max-height: 60vh;
    overflow-y: scroll;
}
#recipe-items-wrapper > div{
    width: fit-content;
}
#cookbook_form{
    font-size: 30px;
}
#cookbook_form input{
    margin-left: 15px;
    border-radius: 5px;
    font-size: 25px;
    height: fit-content;
}

