.cookbook-display-wrapper{
    height: 80vh;
    display: flex;
    justify-content: center;
}
.cookbook-display-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    width: 80%;
}
.cookbook-display-grid div{
    border: 1px solid black;
}
.cookbook-display-header{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
}
.cookbook-display-recipe-sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10%;
    gap: 5px;
}
.recipe-sidebar-recipe-select{
    margin: 2px 5px 0px 5px;
    overflow-x: hidden;
}
.recipe-sidebar-recipe-select:hover{
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}
.cookbook-display-recipe-sidebar span{
   position: absolute;
   right: 2%;
}

#cookbook-display-recipe-main{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
}
#cookbook-display-recipe-main > div{
margin-left: 5px;
margin-right: 5px;
}
.cookbook-display-rating{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end:8
}
.cookbook-display-comment{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end:8
}
