.detail-disp-main{
    display: flex;
    justify-content: center;
    height: 70vh;
}
.detail-content-grid{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 10rem;
    gap: 10%;

}
.card-wrapper{
    border: 1px solid grey;
    height: 100%;
}
.card-wrapper:hover{
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}
.cookbook-link{
    display: block;
}
