.signup-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #efefef;
}
.signup-container div{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#user_form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#user_form > input{
    margin-bottom: 4%;
    height: 35px;
    font-size: 25px;
}


#user_form button{
    background-color: rgb(218, 52, 91);
    color: white;
}
#user_form button:hover{
    background-color: white;
    color: rgb(218, 52, 91);
    cursor: pointer;
}