body{
    position: relative;
    font-family: 'Signika Negative', sans-serif;
}
a{
    color: black;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 94vh;
}
.wrapper > div{
    border-radius: 5px;
}
#cookbook-grid{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 6px;
}
.main-recipe-selector{
    cursor: pointer;
    text-decoration: underline;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.main-recipe-selector:hover{
background-color: #efefef;
color: rgb(218, 52, 91);
}
#cookbook-grid > div{
    padding-left: 5px;
    padding-right: 2px;
}
.cookbook-grid-title{
    margin-block-start: 2px;
    margin-block-end: 5px;
    display: block;
    width: 100%;
    position: relative;
    background-color: #efefef;
    padding-bottom: 2px;
}
.cookbook-recipes-wrapper{
    display: none;
}
.cookbook-recipes{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.cookbook-recipes li{
    margin-bottom: 10px;
    font-weight: 300;
}
#user-banner-grid{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 1fr;
    display: flex;
}
.profile-pic-wrapper{
    height: min-content;
    width: 7%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}
.profile-pic-wrapper:hover{
    background-color: #efefef;
    border: 1px solid red;
}
.profile-pic-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
.profile-banner-info{
    margin-left: 20px;
}
.profile-banner-stats div{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#create-new-recipe-grid{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
#create-new-recipe-grid > div{
    padding-left: 5px;
}
#recipe-disp-grid{
    height: 100%;
    text-align: center;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    display: none;
}

.edit-recipe-link{
    display: flex;
    justify-content: end;
    margin-right: 5px;
    font-weight: 300;
}
#recipe-disp-grid-wrapper{
    
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
    border-radius: 0;
}
.recipe-popout{
    font-size: 10px;
    background-color: #efefef;
    border: none;
}
#recipe-disp-grid > div{
/* background-color: #efefef; */
border-radius: 5px;
margin-left: 10px;
margin-right: 10px;
}
.recipe-disp-header{
    position: relative;
    margin-top: 10px;
    background-color: rgb(242, 222, 222);
    text-align: center;
}
.recipe-disp-ingredients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
}
.recipe-disp-ingredients > div{
    margin-right: 5px;
}
.recipe-disp-instructions{
    margin-bottom: 10px;
    font-weight: 300;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 31px, #ccc 31px, #ccc 32px, white 32px);
    line-height: 31px;
    padding: 8px 10px;
    resize: vertical;
}

.recipe-disp-instructions ol{
    margin-block-start: 0;
}
.recipe-disp-instructions li{
    max-width: 100%;
    text-align: left;
}
#edamam-suggestions-disp{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(218, 52, 91);
    -webkit-box-shadow: 0 0 1px rgb(218, 52, 91);
  }
.edamam-recipe-card{
    height:100%
}
.edamam-card-inner{
    height: 100%;
}
.edamam-card-inner:hover{
    cursor: pointer;
    background-color: #efefef;
}
.edamam-image-wrapper{
    text-align: center;
}
.edamam-image-wrapper img{
    max-height: 300px;
    padding: 6px;
    border: 1px solid rgb(218, 52, 91);
}
.edamam-card-contents{
    position:relative;
    width: 95%;
    margin-left: 5px;
}
.edamam-card-contents p{
    margin-block-start: 2px;
}
.edamam-card-contents ul{
    max-height: 200px;
    overflow-y: scroll;
}
.edamam-card-contents ul::-webkit-scrollbar{
    width: 3px;
}

#edamam-search button{
    background-color:rgb(218, 52, 91) ;
    color: white;
}
#edamam-search button:hover{
    background-color: white;
    color: rgb(218, 52, 91);
    cursor: pointer;
}
#edamam-search-input{
    width: 60%;
}
.next-page-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    text-decoration: underline;
}
.next-page-card:hover{
    color: #fbc5c5;
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(107, 116, 220);
    margin-bottom: 3px;
    border: 1px solid black;
}
#navbar a{
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.link-button{
    border: none;
    background-color: transparent;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.cookbook-recipes{
    list-style: none;
    padding-inline-start: 5px;
}
.recipe-accent{
    color: rgb(218, 52, 91); /* recipe color primary, secondary: rgb(218 52 91 / 33%)*/
}
/* background grey: #efefef */
.cookbook-accent{
    color: rgb(107, 116, 220); /* cookbook color primary */
    padding: 5px 5px 5px 5px;
    margin-block-start: 0;
    margin-block-end: 0;
}
#scratch-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#scratch-button-container form{
height: 80%;
}
.main-scratch-button{
    height: 100%;
    width: fit-content;
    background-color: rgb(218, 52, 91) ;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.main-scratch-button:hover{
    background-color: white;
    color: rgb(218, 52, 91) ;
}
.open-svg{
 height:10px;
 width: 10px;
}
.expand-svg{
    height: 15px;
    width: 15px;
    align-self: flex-end;
    position: absolute;
    right: 3%;
}
svg:hover{
    cursor: pointer;
}
#recipe-disp-placeholder{
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5vw;

   overflow: hidden;
}
#recipe-disp-placeholder p{
    background-color: #efefef;
    text-align: center;
    width: 80%;
}
#loading-wheel-wrapper{
    display: none;
}
.load-wheel{
    position: absolute;
    margin:auto;
    border: 20px solid #efefef;
    border-radius: 50%;
    border-top: 20px solid rgb(218, 52, 91);
    width: 200px;
    height: 200px;
    animation: spin 4s linear infinite;
    top: 40%;
    left: 50%;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}

}
