{% extends 'base.html' %}
{% block title %}
Edit Cookbook
{% endblock %}
{% block content %}
<h1>Edit Cookbook</h1>
<div id="edit-cookbook-wrapper">
    <form method="POST" id="cookbook_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          {{field.label.text}}
          {{ field(placeholder=field.label.text) }}
        {% endfor %}
      
    </form>
    <h2>Remove recipes</h2>
    <h3>Be sure to transfer any recipes you want to keep to another cookbook first! </h3>
    <div id="recipe-items-wrapper">
        <div>
            {% for recipe in cookbook.recipes %}
            <div class="cookbook-recipe-item" data-parent-cookbook="{{cookbook.id}}" data-curr-recipe="{{recipe.id}}">
                {{recipe.name}}
                <svg viewBox="0 0 24 24" class="delete-ingredient"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
            </div>
            {% endfor %}
        </div>
       
    </div>
    <button type="submit" form="cookbook_form">Save</button>
</div>

{% endblock %}