{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div id="cookbook-grid">
        <div>
            <h4 class="cookbook-accent" style="display: inline;">Cookbooks</h4>
            <a href="/users/{{g.user.id}}/cookbooks/add" style="display:inline">New</a>
        </div>
        {% if cookbooks %}
        {% for cookbook in cookbooks %}
        <div>
                <p>{{ cookbook.name }}
                    <a href="/cookbooks/{{cookbook.id}}">
                        <svg class="open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0  25 25">
                            <path d="M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z"/>
                        </svg>
                    </a>
                </p>
        </div>
        <ul class="cookbook-recipes">
            {% if cookbook.recipes %}
            {% for recipe in cookbook.recipes %}
            <li>
                <a href="/recipes/{{recipe.id}}/edit">{{recipe.name}}</a>
                <button>Select >></button>
            </li>
            {% endfor %}
            <div>
                <form action='/users/{{g.user.id}}/cookbooks/{{cookbook.id}}/add_recipe' method="POST">
                    {{ form.hidden_tag() }}
                
                    {% for field in form if field.widget.input_type != 'hidden' %}
                      {% for error in field.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      {{ field(placeholder=field.label.text) }}
                    {% endfor %}
                    <button type="submit">add</button>
                </form>
            </div>
            {% else %}
            <form action='/users/{{g.user.id}}/cookbooks/{{cookbook.id}}/add_recipe' method="POST">
                    {{ form.hidden_tag() }}
                
                    {% for field in form if field.widget.input_type != 'hidden' %}
                      {% for error in field.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      {{ field(placeholder=field.label.text) }}
                    {% endfor %}
                    <button type="submit">add</button>
            </form>
            {% endif %}
        </ul>
        {% endfor %}
        {% else %}
        <p>No cookbooks yet</p>
        <a href="/users/{{g.user.id}}/cookbooks/add">add one</a>
        {% endif %}
    </div>
    <div id="user-banner-grid">
        <h5>{{g.user.username}}</h6>
        <h5>{{g.user.full_name}}</h6>
    </div>
    <div id="create-new-recipe-grid">
        <div>Create new <span class="recipe-accent">Recipe!</span></div>
        <form action="/recipes/build">
            <input type="text" placeholder="keyword">
                <button>Go</button>
        </form>
        <form action="/recipes/build">
            <button>Start from scratch</button>
        </form>
    </div>
    <div id="recipe-disp-grid">
        <h2>recipe!</h2>
    </div>
</div>

{% endblock %}
