{% extends 'base.html' %}
{% block title %}
New Recipe
{% endblock %}
{% block content %}
<div class="recipe-build build-main">
  <div>
    <div class="build-form-wrapper">
      <form id="build-recipe-form" method="POST" action="/api/recipes/{{recipe.id}}/edit/save">
        {{ main_recipe_form.hidden_tag() }}
    
        {% for field in main_recipe_form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          <span class="main-input">{{ field(placeholder=field.label.text) }}</span>
        {% endfor %}
    </form>
    <div class="recipe-tags">
      {% for tag in recipe.tags %}
      <div class="tag">
        {{tag.name}}
      </div>
      {% endfor %}
    </div>
    <div class="recipe-build build-tag ">
      <div class="new-tag-form">
        <form method="POST" id="build-tag-form" autocomplete="off">
          {{ build_tag_form.hidden_tag() }}
      
          {% for field in build_tag_form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span>{{ error }}</span>
            {% endfor %}
            <span>{{ field(placeholder=field.label.text) }}</span>
          {% endfor %}
          <button>add tag</button>
        </form>
      </div>
  </div>
    </div>
  </div>
 
    <div id="recipe-build-grid-wrapper">
        <div class="recipe-build build-ingredient-searchbar">
            <form method="POST" id="build-search-form" autocomplete="off">
                {{ build_search_form.hidden_tag() }}
            
                {% for field in build_search_form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                  <span>{{ field(placeholder=field.label.text) }}</span>
                {% endfor %}
            </form>
        </div>
        <div class="build-search-display-wrapper">
          <div id="recipe-build-search">
        
          </div>
          <div id="custom-ingredient-form" style="display: none;">
            <form method="POST" id="build-custom-ingredient-form" autocomplete="off">
              <p>make a custom ingredient!</p>
              <input type="text" class="custom-ingr-input" placeholder="ingredient name">
              <div>
                <button type="submit" form="build-custom-ingredient-form">Submit</button>
              </div>
              
          </form>
          </div>
        </div>
        <div class="build-ingredients-display-wrapper">

        </div>
        <div class="recipe-build build-notes bottom-tab">
            <form method="POST" id="build-notes-form" autocomplete="off">
                {{ build_notes_form.hidden_tag() }}
            
                {% for field in build_notes_form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                  <span>{{ field(placeholder=field.label.text) }}</span>
                {% endfor %}
            </form>
        </div>
        <div class="recipe-build build-instructions">
          <h2>instructions</h2>
            <div id='build-instructions-container'>
            {% if not recipe.instructions %}
            <div class="instruction-line">
              <label for="1">1. </label>
              <textarea  cols='60' rows="2" class="instruction-input" id="1"></textarea>
            </div>
             
              <div class="instruction-line">
                <label for="2">2. </label>  
                <textarea  cols='60' rows="2" class="instruction-input" id="2"></textarea>
              </div>
             
              <div class="instruction-line">
                <label for="3">3. </label>
                <textarea  cols='60' rows="2" class="instruction-input" id="3"></textarea>
              </div>
            
            {% else %}
              {% for instruction in recipe.instructions %}
              <div class="instruction-line">
                <label>{{recipe.instructions.index(instruction) + 1}} </label>
                <textarea  cols='60' rows="2" class="instruction-input"> {{instruction.text}}</textarea>
              </div>
              {% endfor %}
            {% endif %}
          </div>
            <div>
              <button class="new-instruction">+ new instruction</button>
            </div>
        </div>
        <div class="build-button">
            <button type="submit" form="build-recipe-form" class="submit">Save Recipe</button>
        </div>
       
    </div>
    
   
</div>
{% endblock%}